<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CxWSResolverSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="CxWSResolverSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://checkmarx.gmgmt.dimensiondata.com/Cxwebinterface/CxWsResolver.asmx"
                binding="basicHttpBinding" bindingConfiguration="CxWSResolverSoap"
                contract="CxWsResolver.CxWSResolverSoap" name="CxWSResolverSoap" />
        </client>
    </system.serviceModel>
</configuration>